body {
background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#cfcbc8 .1em, transparent .1em);
background-size: 100% 1.2em;
}
* {
margin: 0;
padding: 0;
  text-decoration: none;
  list-style: none;
}
#header-img{
  width: 5vw;
  border-radius: 20%;
  border-width: 5px;
}
ul{
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: #21dc75;
}
@media (max-width: 560px) {
  ul{  flex-direction: column;}
  }

form{
  padding-top: 5em;
}
#link{
  display: flex;
  justify-content: center;
  width: 100%;
}
#logo{
  width: 60px;
}
.centro{
  text-align: center;
  font-family: 'Inconsolata', monospace;
  /*background-color: #2187dc;*/
}
h1{
  font-size: 3vw;
}
h2{
  font-size: 2.5vw;
}
h3{
  font-size: 2vw;
}
p{
  font-size: 1.7vw;
}
.nav-link{
color: black;
  font-size: 5vmin;
}
.cv{
margin: auto;
}

#oc{
  padding-top: 3em;
  margin-left: 20%;
  margin-right: 20%;
}
#la{
  padding-top: 3em;
}
li:hover{
transform: scale(1.25);
}
#dis1{
  background-color: #dcc321;
  width: 40px;
  height: 6px;
  transform: skewY(35deg);
}
#dis2{
  margin-top: 21px;
  background-color: #dcc321;
  width: 40px;
  height: 6px;
  transform: skewY(-35deg);
}
#dis3{
  margin-top: 7px;
  margin-left: 40px;
  background-color: #dcc321;
  width: 50px;
  height: 6px;
}
#disegno1{
  transform: scale(0.7);
}
#container{
  padding-top: 2.5em;
}
#container2{
  padding-top: 4em;
}
#name{
  margin: 15px;
}
#email{
  margin: 15px;
}
#question{
  margin: 15px;
}
.img1{
  padding-top: 1em;
}
#description{
  padding-top: 100px;
}
